.yh-space {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &--vertical {
    flex-direction: column;
    align-items: stretch;
  }

  &.is-wrap {
    flex-wrap: wrap;
  }
  &.is-fill {
    width: 100%;
  }

  &__item {
    display: inline-flex;
    align-items: center;
  }

  &__spacer {
    display: inline-flex;
    align-items: center;
    color: var(--yh-text-color-placeholder);
    padding: 0 var(--yh-space-spacer-padding, 2px);
  }
}
